<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>forpet</title>
    <div th:replace="/fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="container mt-5 mb-5">
    <div class="col-sm-7 m-auto">
        <th:block th:each="reservation: ${list}">
        <div class="card mb-2">
            <div class="card-header">
                <div class="d-inline" th:text="${#temporals.format(reservation.reservationDateTime, 'yyyy-MM-dd HH:ss')}"></div>  <div class="d-inline float-right" th:text="|￦${reservation.serviceFee}|"><b class="text-danger">h</b></div>
            </div>
            <div class="card-body">
                <b th:text="${reservation.serviceName}"></b>
                <span class="d-block" th:if="${not #strings.isEmpty(reservation.from)}" th:text="${reservation.from}"></span>
                <span class="d-block" th:if="${not #strings.isEmpty(reservation.to)}" th:text="${reservation.to}"></span>
            </div>
        </div>
        </th:block>
    </div>
</div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
