<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header"></div>
    <title>forpet</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="container mt-5 mb-5">
    <div class="col-sm-7 m-auto">
        <div class="row mb-5">
            <div class="col-12">
                <h3>예약 요청</h3>
            </div>
        </div>
    <form>
    <div class="form-group">
        <label for="serviceType">예약 서비스</label>
        <select class="form-control" id="serviceType">
            <option th:each="serviceType : ${serviceTypeList}" th:value="${serviceType.serviceName}" th:text="${serviceType.serviceName}">
            </option>
        </select>
    </div>
    <div class="form-group">
    <label for="reservationDate">예약일</label>
        <input type="text" id="reservationDate" class="form-control" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"/>
    </div>
    <div class="form-group">
        <label for="reservationTime">예약시간</label>
        <select class="form-control" id="reservationTime">
            <option>11:00</option>
            <option>12:00</option>
            <option>13:00</option>
            <option>14:00</option>
            <option>15:00</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pet">반려동물</label>
        <select class="form-control" id="pet">
            <option th:each="pet : ${petList}" th:value="${pet.id}" th:text="${pet.name}">
            </option>
        </select>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="button" class="btn btn-primary float-right" id="btn-save" value="예약요청">
        </div>
    </div>
</form>
</div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/js/reservation.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js}"></script>
<script>
    $(document).ready(function () {
        $('#reservationDate').datepicker({
                format: 'yyyy-mm-dd', // 날짜 포맷
                startDate: '1d', // 선택 가능한 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
                endDate: '+10d', // 선택 가능한 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
                autoclose: true, // 날짜를 클릭시 캘린더 자동 닫힘
                calendarWeeks: false, //캘린더 옆에 몇 주차인지 표시 기본값 false
                clearBtn: false, // 날짜 선택한 값 초기화 기본값 false
                disableTouchKeyboard: false, // 모바일에서 플러그인 작동 여부 기본값 false(작동)
                immediateUpdates: false, // 사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false
                multidate: false, // 여러 날짜 선택 기본값 false
                multidateSeparator: ',', // 여러 날짜를 선택했을 때 구분자 2019-05-01,2019-06-01
                templates: {
                    leftArrow: '&laquo;',
                    rightArrow: '&raquo;',
                }, // 다음달 이전달로 넘어가는 화살표 모양 설정
                showWeekDays: true, // 위에 요일 보여주는 옵션 기본값 : true
                todayHighlight: true, // 오늘 날짜에 하이라이팅 기본값 :false
                toggleActive: true, // 이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
                weekStart: 0, // 달력 시작 요일 선택하는 것 기본값은 0인 일요일
                language: 'ko', // 달력의 언어 선택, 그에 맞는 js로 교체
        })
    });
</script>
</html>
