<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header"></div>
    <title>forpet</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="container mt-5 mb-5">
    <div class="col-sm-7 m-auto">
        <div class="row mb-5">
            <div class="col-12">
                <h3>예약 확인</h3>
            </div>
        </div>
        <form id="update" th:action="@{/reservations/update/{reservationId}(reservationId=${reservation.id})}">
        <div class="form-group">
            <label for="serviceType">예약 서비스</label>
            <input type="text" id="serviceType" class="form-control" th:value="${reservation.serviceType.serviceName}" />
        </div>
        <div class="form-group">
            <label for="reservationDate">예약시간</label>
            <input type="text" id="reservationDate" class="form-control" th:value="${reservation.reservationDate}" />
        </div>
        <div class="form-group">
            <label for="reservationTime">예약시간</label>
            <input type="text" id="reservationTime" class="form-control" th:value="${reservation.reservationTime}" />
        </div>
        <div class="form-group">
            <label for="pet">반려동물</label>
            <input type="text" id="pet" class="form-control" th:value="${reservation.petName}" />
        </div>
        <div class="form-group">
            <label for="status">예약상태</label>
            <input type="text" id="status" class="form-control" th:value="${reservation.status}" />
        </div>
        </form>
        <div class="row">
            <div class="col-12">
                <input type="submit" form="update" class="btn btn-primary float-right" value="예약수정">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
<script type="text/javascript" th:src="@{/js/reservation.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js}"></script>
</html>
